[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-ls"]
	path = .vim/bundle/vim-ls
	url = git://github.com/gkz/vim-ls.git
[submodule ".vim/bundle/vim-haskell"]
	path = .vim/bundle/vim-haskell
	url = git://github.com/wlangstroth/vim-haskell.git
